*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(234, 224, 180, 0.829);
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 1px;
}
.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6em;
    background:  #a0f5a1d0;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 25px 20px -20px;
}
.head1{
    font-size: 2.5em;
}
span{
    font-weight: 100;
}
.head2{
    font-size: 2em;
}
.head1,.head2{
    display: flex;
    /* flex-wrap: wrap; */
}
p{
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.popup_card,.popup_Task{
    width: 350px;
    height: 200px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
    animation: slide .5s ease-in;
}
@keyframes slide {
    0%{
        top: 0%;
        left: 50%;
        scale: 0;
        opacity: 0;
    }
    100%{
        top: 50%;
        left: 50%;
        scale: 1;
        opacity: 1;
    }
}
.popup_Task{
    animation: swipe .8s ease;
}
@keyframes swipe {
    0%{
        top: 80%;
        opacity: 0;
    }
    100%{
        top: 50%;
        opacity: 1;
    }
}
.overlay{
    background: rgba(0, 0, 0, 0.74);
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}
.hidden{
    display: none;
}
.input{
    width: 280px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}
.card_buttons{
    display: flex;
    gap: 20px;
}
.btn1,.btn2,.btn3,.btn4{
    width: 100px;
    height: 40px;
    border: none;
    font-size: 22px;
    border-radius: 20px;
    background-color: rgb(255, 77, 12);
    color: white;
}
.head2,.btn1,.btn2,button:hover{
    cursor: pointer;
}
.main_container{
    position: relative;
    height: 100vh;
    background: #d4cfa600;
}
.card_container{
    width: 100%;
    height: 87vh;
    margin-top: 15px;
    padding: 2em 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    overflow-y: auto;
}
.title{
    font-family: sans-serif;
    width: 100%;
    text-align: center;
}
.card{
    width: 250px;
    height: 300px;
    background: white;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: relative;
}
.delete_card{
    display: none;
    opacity: 0;
    transform: scale(0);
    animation: out .8s ease-out;
}
@keyframes out{
    from{
        display: block;
        opacity: 1;
        transform: rotateY(180deg) scale(1);
        /* transform: scale(1); */
    }
    to{
        display: none;
        opacity: 0;
        transform: rotateY(30deg) scale(0);
        /* transform: scale(0); */
    }
}
h3{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1.6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 15px;
    position: absolute;
}
.delete,.add{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: rgb(231, 227, 227);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.task_lists{
    height: 215px;
    overflow-y: auto;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    margin-top: 5px;
    gap: 10px;
}
.taskDone{
    text-decoration: line-through;
    font-weight: bold;
    color: tomato;
    width: 100%;
    text-align: center;
}

/* .container{
    position: absolute;
    top: 13%;
    width: 100%;
    height: 100vh;
    background: red;
    z-index: 100;
} */