*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(147deg, #a399b2 0%, #4d4855 74%);
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 1px;
}
.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6em;
    background:  #c3ff79;
    background: linear-gradient(147deg, #358929  0%, #87dc5d 74%);;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 25px 20px -20px;
    position: relative;
    z-index: 5;
}
.head1{
    font-size: 2.5em;
}
span{
    font-weight: 100;
}
.head2{
    font-size: 2em;
    display: flex;
    align-items: end;
}
.head1,.head2{
    display: flex;
}
p{
    font-size: 2em;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.popup_card,.popup_Task{
    width: 350px;
    height: 200px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    z-index: 6;
    animation: slide .8s ease;
}
@keyframes slide {
    0%{
        top: 0%;
        left: 50%;
        scale: 0;
        opacity: 0;
    }
    100%{
        top: 50%;
        left: 50%;
        scale: 1;
        opacity: 1;
    }
}
.popup_Task{
    animation: swipe .8s ease;
}
@keyframes swipe {
    0%{
        top: 80%;
        opacity: 0;
    }
    100%{
        top: 50%;
        opacity: 1;
    }
}
.overlay{
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}
.hidden{
    display: none;
}
#btnBack{
    display: none;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-size: 22px;
}
.input{
    width: 280px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}
.card_buttons{
    display: flex;
    gap: 20px;
}
.btn1,.btn2,.btn3,.btn4{
    width: 100px;
    height: 40px;
    border: none;
    font-size: 22px;
    border-radius: 20px;
    background-color: rgb(255, 77, 12);
    color: white;
}
.head2,.btn1,.btn2,button:hover{
    cursor: pointer;
}
.main_container{
    position: relative;
    height: 100vh;
    background: #d4cfa600;
}
.card_container{
    width: 100%;
    height: 87vh;
    margin-top: 15px;
    padding: 2em 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    overflow-y: auto;
}
.title{
    font-family: sans-serif;
    width: 100%;
    text-align: center;
}
.card{
    width: 250px;
    height: 300px;
    background: white;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: relative;
}
.delete_card{
    opacity: 0;
    animation: out .8s ease-out;
    transition: 800ms;
}
@keyframes out{
    from{
            opacity: 1;
    }
    to{
        opacity: 0;
    }
}
h3{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1.6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 15px;
    position: absolute;
}
.delete,.add{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: white;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 85, 14);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.task_lists{
    height: 215px;
    overflow-y: auto;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    margin-top: 5px;
    gap: 10px;
}
.taskDone{
    text-decoration: line-through;
    font-weight: bold;
    color: tomato;
    width: 100%;
    text-align: center;
}
.singleCard_container{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(147deg, #a399b2 0%, #4d4855 74%);;
    z-index: 3;
}
.singleCard{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-65%);
    z-index: 4;
}
#singleCardHeading{
    width: 100%;
    text-align: center;
    position: relative;
    top: 16%;
    left: 50%;
    transform: translate(-50%,-16%);
    font-size: 50px;
}

/* 20%{
    transform: scale(1.15);
}
100%{
    transform: scale(0);
} */